<div >
  <img id="logo" src="assets/img/BesTaskList.png">

</div>
<form [formGroup]="formularioDeLogin" (ngSubmit)="onSubmit(formularioDeLogin.value)">

  <div class="form-group">
    <label for="email" class="rotulos">E-mail</label><br>
    <input type="email" class="formulario-Login" name="email" id="email" formControlName="email"><br>
    <ng-container *ngIf="formularioDeLogin.controls.email.touched">
      <span *ngIf="formularioDeLogin.controls.email.errors?.required">
        Campo obrigatório
      </span>
      <span *ngIf="formularioDeLogin.controls.email.errors?.email">
        E-mail inválido
      </span>
  </ng-container>
  </div>

  <div class="form-group">
    <label for="senha" class="rotulos">Senha</label><br>
    <input type="password" class="formulario-Login" name="senha" id="senha" formControlName="senha"><br>
    <ng-container *ngIf="formularioDeLogin.controls.senha.touched">
      <span *ngIf="formularioDeLogin.controls.senha.errors">
        Campo obrigatório
      </span>
  </ng-container>
  </div>

  <input type="submit" class="btn btn-primary mt-4" value="Logar">
  <button routerLink="../register" class="btn btn-secondary mt-4 ml-2">Cadastrar</button>

</form><br>

<div>
  Esqueceu sua senha <a routerLink="../rememberPassword">Clique aqui</a>
</div>