<form [formGroup]="formularioDaTarefa" (ngSubmit)="onSubmit(formularioDaTarefa.value)">


  <h2> <label for="titulo" id="titulo">Cadastro de Tarefas </label><br></h2>

    <div class="form-group">
      <label for="nome" class="rotulos">Nome: </label><br>
      <input type="text" class="nomeTarefa" name="nomeTarefa" id="nome" required formControlName="nomeTarefa"><br>
      <ng-container *ngIf="formularioDaTarefa.controls.nome.touched">
        <span *ngIf="formularioDaTarefa.controls.nome.errors">
          Campo obrigatório
        </span>
    </ng-container>
    </div>
    
    <div class="form-group">
    <label for="tipoTarefa">Tipo: </label><br>
    <input type="text" name="tipoTarefa" id="tipoTarefa" required formControlName="tipoTarefa"><br>
    <ng-container *ngIf="formularioDaTarefa.controls.nome.touched">
      <span *ngIf="formularioDaTarefa.controls.nome.errors">
        Campo obrigatório
      </span>
  </ng-container>
  </div>
   <div class="form-group">
    <label for="local">Local: </label><br>
    <input type="text" name="local" id="local" required formControlName="local"><br>
    <ng-container *ngIf="formularioDaTarefa.controls.nome.touched">
      <span *ngIf="formularioDaTarefa.controls.nome.errors">
        Campo obrigatório
      </span>
  </ng-container>
  </div>

  <button class="btn btn-primary mx-2 shadow">Cadastrar Tarefa</button>
</form>
