
#logo{
    position: relative;
    width: 400px;
    height: 230px;
    left: 0px;
    top: 0px;
    
}

.rotulos{
  position: relative;
  left: -82px;

}

.rotulosConfirmacao{
  position: relative;
  left: -45px;
}



