<div >
  <img id="logo" src="assets/img/BesTaskList.png">

</div>
<form [formGroup]="formularioDeCadastro" (ngSubmit)="onSubmit(formularioDeCadastro.value)">

  <div class="form-group">
    <label for="nome" class="rotulos">Nome</label><br>
    <input type="text" class="formulario-cadastro" name="nome" id="nome" required formControlName="nome">
  </div>

  <div class="form-group">
    <label for="email" class="rotulos">E-mail</label><br>
    <input type="email" class="formulario-cadastro" name="email" id="email" formControlName="email">
  </div>

  <div class="form-group">
    <label for="email" class="rotulosConfirmacao">Confirmar e-mail</label><br>
    <input type="email" class="formulario-cadastro" name="emailConfirmacao" id="emailConfirmacao" formControlName="emailConfirmacao">
  </div>

  <div class="form-group">
    <label for="senha" class="rotulos">Senha</label><br>
    <input type="password" class="formulario-cadastro" name="senha" id="senha" formControlName="senha">
  </div>

  <div class="form-group">
    <label for="senha"class="rotulosConfirmacao">Confirmar Senha</label><br>
    <input type="password" class="formulario-cadastro" name="senhaConfirmacao" id="senhaConfirmacao" formControlName="senhaConfirmacao">
  </div>

  <input type="submit" class="btn btn-primary mt-4" value="Cadastrar">
  <a href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a> <br>


  <div *ngIf="formularioDeCadastro.hasError('emailsDiferentes') && formularioDeCadastro.touched">
    <div class="alert alert-danger" role="alert">
      <Strong> Erro! </Strong> E-mails não são iguais.
    </div> 
  </div>

<div *ngIf="formularioDeCadastro.hasError('senhasDiferentes') && formularioDeCadastro.touched">
  <div class="alert alert-danger" role="alert">
    <Strong> Erro! </Strong> Senhas não são iguais.
  </div> 
</div>

  <div *ngIf="formularioDeCadastro.hasError('senhasDiferentes') && formularioDeCadastro.touched">
    <p>
      coisas deram errado
    </p>
  </div>

</form>
