
#logo{
    position: relative;
    width: 400px;
    height: 230px;
    left: 0px;
    top: 0px;
    
}

.rotulos{
  position: relative;
  left: -70px;

}

.rotulosConfirmacao{
  position: relative;
  left: -33px;
}

.alert {
  position: relative;
    width: 400px;
    left: 30%;
    top: 30px;
}



