<div class="container">
  <div>
    <p>
      pppp
    </p>
    <a href="">
      aaa
    </a>
    <a href="" class="btn btn-primary">aaa</a>

    <button (click)="teste()">teste</button>

    <p>{{variavelBooleana}}</p>

    <button (click)="variavelBooleana = !variavelBooleana">
      {{variavelBooleana ? 'Desligar' : 'Ligar'}}
    </button>

    <div *ngIf="variavelBooleana">
      <p>
        teste da variavel booleana
      </p>
    </div>

    <div *ngIf="tasks">
      <div *ngFor="let task of tasks">
        {{task.title}}
      </div>
    </div>

  </div>
  <router-outlet></router-outlet>
</div>