<div>

  <div class="row mt-5">
    <div class="col"></div>

    <div class="col text-center">
      <form class="form-inline"(submit)="pegarTarefasPorNome(searchInput.value)" onsubmit="return false">
        <label class="sr-only" for="inputPesquisa">Pesquisar</label>
        <div class="input-group mr-2" id="divInputPesquisa">
          <input type="text" class="form-control" id="inputPesquisa" placeholder="Nome da tarefa" #searchInput>
        </div>
        <button type="submit" class="btn btn-primary shadow">Pesquisar</button>
      </form>
    </div>
    
    <div class="col">
      <button class="btn btn-primary shadow" (click)="criarTarefa = !criarTarefa">Criar Tarefa</button>
    </div>
  </div>
  
  <div class="row mt-5" *ngIf="criarTarefa">
    <div class="col"></div>
    <div class="col-auto">
      <app-taskForm></app-taskForm>
    </div>
    <div class="col"></div>
  </div>
  
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-auto text-center">
      <div>
        <button class="btn btn-danger mx-2 shadow">Limpar tarefas concluidas</button>
        <button class="btn btn-primary mx-2 shadow">Mostrar tarefas pendentes</button>
        <button class="btn btn-primary mx-2 shadow">Mostrar tarefas concluidas</button>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <div class="row mt-5">
    <div class="col-2"></div>

    <div class="col-10 text-center">

      <div class="row" *ngIf="tarefas">

        <div class="card bg-light col-3 shadow mx-2" style="max-width: 16rem;">
          
          <div class="card-header">Assistir</div>
         
          <div class="card-body">
            <input class ="checkbox" type = "checkbox" id = "checkboxAssistir" name = "checkboxAssistir" value = "checkboxAssistir">
            <app-task
              *ngFor="let t of tarefasAssistir"
              [tarefa]="t"
            ></app-task>
          </div>
        </div>

        
          
        <div class="card bg-light col-3 shadow mx-2" style="max-width: 16rem;">
          <div class="card-header">Academico</div>
          <div class="card-body">
            <input class ="checkbox" type = "checkbox" id = "checkboxAcademico" name = "checkboxAcademico" value = "checkboxAcademico">
            <app-task
            *ngFor="let t of tarefasAcademico"
            [tarefa]="t"
            ></app-task>
          </div>
        </div>

        <div class="card bg-light col-3 shadow mx-2" style="max-width: 16rem;">
          <div class="card-header">Lazer</div>
          <div class="card-body">
            <input class ="checkbox" type = "checkbox" id = "checkboxLazer" name = "checkboxLazer" value = "checkboxLazer">
            <app-task
            *ngFor="let t of tarefasLazer"
            [tarefa]="t"
            ></app-task>
          </div>
        </div>

        <div class="card shadow bg-light col-3 mx-2" style="max-width: 16rem;">
          <div class="card-header">Comprar</div>
          <div class="card-body">
            <input class ="checkbox" type = "checkbox" id = "checkboxComprar" name = "checkboxComprar" value = "checkboxComprar">
            <app-task
            *ngFor="let t of tarefasComprar"
            [tarefa]="t"
            ></app-task>
          </div>
        </div>

      </div>
    </div>

    <div class="col-1"></div>
  </div>

</div>